<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiSistema.Properties.Settings.NuevoHotelConnectionString"
            connectionString="Data Source=DESKTOP-FF3VOHE;Initial Catalog=NuevoHotel;Persist Security Info=True;User ID=sa;Password=sistemas123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>